.moduleTableItemRow {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  width: 60vw;
}

.moduleTableItemNumber {
  font-size: 20px;
  font-weight: bold;
  width: 200px;
}

.moduleTableItemClassIndex {
  font-size: 20px;
  font-weight: bold;
  width: 200px;
}

.moduleTableItemeName {
  font-size: 20px;
  font-weight: bold;
  width: 350px;
}

.itemHr {
  width: 95%;
}

.moduleTableItemRow:hover {
  background: rgba(160, 157, 159);
  cursor: pointer;
}
