.searchBar {
  background: #f1f1f1;
  border-radius: 5px 0 0 5px;
  border: 1px solid grey;
  float: left;
  font-size: 17px;
  padding: 10px;
  width: 40vw;
  margin-bottom: 25px;
}

.searchButton {
  background: #2196f3;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid grey;
  color: white;
  cursor: pointer;
  float: right;
  font-size: 17px;
  padding: 10px;
  width: 10vw;
  margin-bottom: 25px;
}

.searchButton:hover {
  background: #0b7dda;
}

/* hide number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
