.moduleTableTitleRow {
  align-items: center;
  display: flex;
  flex-direction: row;
  /* margin-top: 50px; */
  padding-left: 20px;
  width: 60vw;
}

.moduleNumberTitle {
  font-size: 20px;
  font-weight: bold;
  width: 200px;
}

.moduleCurrentIndexTitle {
  font-size: 20px;
  font-weight: bold;
  width: 200px;
}

.moduleDesiredIndexTitle {
  font-size: 20px;
  font-weight: bold;
  width: 200px;
}

.moduleName {
  font-size: 20px;
  font-weight: bold;
  width: 200px;
}

.tableHeaderHr {
  border: 1px solid black;
}
