.loginCard {
  background-color: rgba(18, 28, 64, 0.9);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 50vh;
  /* margin-left: 60vw;
  margin-top: 20vh; */
  padding: 20px;
  position: relative;
}

.loginCardHeader {
  color: white;
}

.loginArea {
  display: flex;
  flex-direction: column;
  height: 40vh;
  padding: 30px;
  width: 20vw;
}

.inputField {
  width: 10vw;
}

.inputHeader {
  color: white;
}

.loginButton {
  margin-top: 50px;
  width: 5vw;
}
