.loginCard {
  background-color: #d9e2ec;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  /* margin-left: 60vw;
  margin-top: 20vh; */
  padding: 20px;
  position: relative;
}

.loginCardHeader {
  color: black;
}

.loginArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  padding: 30px;
  width: 25ch;
}

.inputField {
  width: 10vw;
}

.inputHeader {
  color: white;
}

.loginButton {
  margin-top: 50px;
  width: 5vw;
  background: #2196f3;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid grey;
  color: white;
  cursor: pointer;
  float: left;
  font-size: 17px;
  padding: 10px;
}

.loginButton:hover {
  background: #0b7dda;
}
