.forum {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
}

.forumHeader {
  margin-top: 5vh;
  margin-left: 5vw;
}

.forumBody {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
}
