.indexSwap {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
}

.indexSwapHeader {
  margin-top: 5vh;
  margin-left: 5vw;
}

.indexSwapBody {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 100vw;
}

.createReqButton {
  background: blue;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid grey;
  color: white;
  cursor: pointer;
  float: right;
  font-size: 17px;
  padding: 10px;
  width: 15vw;
  margin-bottom: 25px;
}

.createReqButton:hover {
  background: darkblue;
}

.handleOverflow{
  overflow-y: scroll;
  overflow-x: hidden;
}
