.indexSwap {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
}

.indexSwapHeader {
  margin-top: 5vh;
  margin-left: 5vw;
}

.indexSwapBody {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 100vw;
}

.handleOverflow{
  overflow-y: scroll;
  overflow-x: hidden;
}
