.navBar {
  align-items: center;
  align-items: center;
  background-color: #000000;
  display: flex;
  display: flex;
  height: 10vh;
  width: 100%;
}

.websiteTitle {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 5vw;
  margin-right: 40px;
  text-decoration: none;
}

.navBarLinksRow {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  margin: 20px;
  width: 40vw;
}

.navBarLink {
  border: 0px;
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
}

.loginButton {
  position: absolute;
  right: 5vw;
  border-left: none;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid grey;
  cursor: pointer;
  float: left;
  font-size: 15px;
  width: 5vw;
  margin-left: 5px;
  padding: 5px;
}
